// Mixins

// BEM selectors
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Generate modifier color classes
@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  }
}

// Generating :before or :after pseudo-element shapes
@mixin p-el($el, $el-w: null, $el-h: null) {
  @if ($el == "before" or $el == "after") {
    &:#{$el} {
      // @extend %pseudos;
      width: $el-w;
      height: $el-h;
      @content;
    }
  } @else {
    @error "`#{$el}` is not a valid pseudo-element.";
  }
}

// Image replacement
@mixin img-url($img) {
  background-image: url('#{$path--rel}/#{$img}');
}

@mixin img-replace($img, $w, $h, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  display: $disp;
}

// transition
@mixin transition-all($duration: null, $timing: null) {
  // @extend %transition;
  transition-property: all;
  transition-duration: $duration;
  transition-timing-function: $timing;
}
